CHART_NAME=generic-job
CHART_VERSION=0.0.1
APP_TYPE=api-e2e
APP_NAMESPACE=mer-aha-dev-applicationhealthassistant
APP_RELEASENAME=api-e2e
KUBERNETES_URL=https://mgti-dallas-rancher.mrshmc.com/k8s/clusters/c-mx5d5
API_BASE_URL=https://dev-application-health-assistant.int.np.dal-2.oss2.mrshmc.com

DEPLOYMENT_VALUES_FILE=./deployments/helm/api-e2e.yml