CHART_NAME=mercer-app
CHART_VERSION=0.6.2
APP_TYPE=ui
APP_NAMESPACE=mer-aha-dev-applicationhealthassistant
APP_RELEASENAME=ui
API_PORT_NUMBER=8080
KUBERNETES_URL=https://mgti-dallas-rancher.mrshmc.com/k8s/clusters/c-mx5d5
HOSTNAME=dev-application-health-assistant.int.np.dal-2.oss2.mrshmc.com
SECRETS_URL=https://mgti-dal-so-vlt.mrshmc.com/v1/secrets/config
VAULT_URL=https://mgti-dal-so-vlt.mrshmc.com/v1/auth/kubernetes-mgti-app-non-prod-dallas-2/login
VAULT_NAMESPACE=mgti-app-non-prod-dallas-2/mer-aha-dev-applicationhealthassistant
VAULT_ROLE_NAME=mer-aha-dev-applicationhealthassistant-reader
KUBERNETES_SERVICE_ACCOUNT_NAME=mgti-dvpseng-stg-oss2helloworld-svc-acct
UI_API_BASE_URL=api/v1
UI_GIT_TOKEN=hbhjdbsfb
UI_CAST_URL=https://usdf11v1187.mercer.com/rest/tenants/default/applications/
RUNTIME_ENV=dev
DEPLOYMENT_VALUES_FILE=./deployments/helm/ui.yml